.header-contact {
  border: 0.1px solid var(--mantine-color-dark-4);
  height: 100%;
}

.navbar-link:hover {
  color: var(--mantine-color-gray-0) !important;
  background: var(--mantine-color-purple-3);
  border-radius: 3px;
  transition: all 0.1s ease-in;
}

.item {
  transition: all 0.1s ease-in-out;
}

.item:hover {
  color: var(--mantine-color-purple-3);
}